.footer {
    background-color: var(--oxford-blue);
    /* Replace with the actual path to your background image */
    background-repeat: no-repeat;
    background-size: cover;
    --oxford-blue: hsl(222, 46%, 17%);
    background-position: center;
    color: var(--light-gray);
    --light-gray: hsl(0, 0%, 80%);
    padding-block: 60px;
  }
  